body{
    color: ;
    position:relative;
    width: 80% ;
    height: 90% ;
    margin-left: 10px ;
}

#Calculadora{
   border: ;
   background-color: #5487d365;
   width: 95%;
   height:90%;
   padding: 10px;
   border-radius:10px ;
   margin:5px;

}

button{
    width:20% ;
    height:100%;
    margin:3px;
    border-radius: 5px ;
    border-style:none;
    font-size:50pt;
}

#Igualdade{
   position:relative;
   width:13%;
   top:18.5;
   left:80.5;
   height:70% ;
   background-color:#5487d365;

}

#Display{
    
}
