body{
    color: ;
    position:relative;
    width: 80% ;
    height: 90% ;
    margin-left: 10px ;
}

#Calculadora{
   border: ;
   background-color: rgba(84, 135, 211, 0.397);
   width: 95%;
   height:90%;
   padding: 10px;
   border-radius:10px ;
   margin:5px;

}

button{
    width:20% ;
    height:100%;
    margin:3px;
    border-radius: 5px ;
    border-style:none;
    font-size:50pt;
}

#Igualdade{
   
}

#Display{
    
}
